.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  justify-content: center;
  padding: 0 2em;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
